.brand-name{
    color:  #D0C19A !important;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
   
}
.navlis{
    color: lightgray !important;
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;

}