.linked{
    font-size: 12px;
    font-weight: 600;

}
.avatar-container{
    width: 40%;
    height: 5vh;
    background: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.avatarrr{
    
    width: 50px;
    height: 50px;
    margin-left: 10%;
}
a{
    text-decoration: none;
}

@media (max-width:990px) {
    .avatar-container{
        display: none;
    }
    .emaill{
        visibility: hidden;
    }
   
}