

.avatar-containe{
    width: 10%;
    height: 14vh;
    background: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.avatarr{
    
    width: 200px;
    height: 150px;
    margin-left: 20%;
}


.detail{
    color: #4F4A3B;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.detail span {
    color: #D0C19A;
    font-size: 30px;
    font-weight: 600;
}
.pro {
    color: #4F4A3B;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.mywor{
    color: #4F4A3B;
    font-size: 22px;
    font-weight: 600; 
}
.webapp{
    width: fit-content;
    background-color: rgba(211, 211, 211, 0.493);
    font-size: 15px;
}
.manage{
    font-size: 32px;
    font-weight: 600;

}
.view{
    font-size: 18px;
    text-decoration: underline;
    font-weight: 500;
}









@media (max-width:990px) {
    .avatar-containe{
        width: 23%;
        height: 12vh;
    
    }
}